@model IEnumerable<WebApplication1.Models.Question>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Hello, @Session["UserName"].  <a href="@Url.Action("Logout")" style="color:mediumpurple">Logout</a></h3>
</div>

<div class="jumbotron">
    <h2>Learn, Share, Build!</h2>
    <h3>Each month, over 50 million developers come to Stack Overflow to learn, share their knowledge, and build their careers.</h3>
    <h4 style="color:#808080">Join the world's largest developer community.</h4>
</div>

<div>
    <table class="home_table">
        @foreach (var item in Model)
        {
        <tr class="home_tr">
            <td class="home_td"><span class="home_td_txt">@Html.DisplayFor(modelItem => item.vote)</span>Votes</td>
            <td class="home_td"><span class="home_td_txt">@Html.DisplayFor(modelItem => item.ans_ed)</span>Answers</td>
            <td class="home_td"><span class="home_td_txt">@Html.DisplayFor(modelItem => item.viewnum)</span>Views</td>
            <td class="home_td2">
                @Html.ActionLink(item.QuestionName.ToString(), "GetQuestion", "Question", new { id = item.QuestionID }, null)<br />
                <span class="home_td_txt2">@Html.DisplayFor(modelItem => item.CategoryName)</span>
            </td>
            <td class="home_td">by @Html.DisplayFor(modelItem => item.UserName)</td>
            <td class="home_td">on @Html.DisplayFor(modelItem => item.QuestionTime)</td>
        </tr>
        }
    </table>
</div>